[Unit]
Description=Radarr Daemon
After=syslog.target network.target

[Service]
Type=simple
User=root
Group=root
ExecStart=/usr/bin/mono /opt/radarr/Radarr.exe /data=/home/radarr
Restart=always
RestartSec=15
TimeoutStopSec=20

[Install]
WantedBy=multi-user.target
